scim.dev: User schema, Binaries have to be case-exact by definition.

This is perhaps not the correct place to report this, but I couldn't find a better place.

This concerns the "User" schema on the scim.dev website.

According to RFC 7643, section 2.3.6.  an attribute of the "binary" type has to be declared case sensitive. 
Currently, the value attribute of the User schema is define as "caseExact": false, which is incorrect.

This was found using the the scim-for-keycloak SCIM client which validated the schema and throws this error: 
`The attribute with the name 'urn:ietf:params:scim:schemas:core:2.0:User:x509Certificates.value' has an invalid declaration. Binaries have to be case-exact by definition.`

Looking at the RFC, I think the client is correct and the schema is indeed invalid.




Thanks for reporting. This problem has been fixed a while back after the Schema configuration setup has been rewritten.